$cs-teal: #4acfb2;
$cs-teal-light: #71dac4;
$cs-teal-gradient: linear-gradient(0deg,#3da991,#71dac4);
$cs-blue: #0f3181;
$cs-blue-light: #3a63c4;
$hover-opacity: 0.6;

body {
    background: #f8fafc;
    font-family: 'Montserrat', sans-serif;
  }

// .form {
//   background: #F8FAFC;
//   display: flex;
//   justify-content: center;
//   height: 60%;
//   width: 60%;
// }



.avatar-container {
  // background-color: $cs-blue;
  // border-radius: 50%;
  // height: 95px;
  // width: 95px;   
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;
}

.card-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.iris {
  background-color: $cs-teal;
  border: none;
  border-radius: 50%;
  height: 140px;
  width: 140px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.github-container {
  margin-top: 10px;
  display: flex;
  flex-direction: rows;
  align-items: center;
}

.name {
  padding: 5px;
  background-color: transparent;
  // color: #22292F;
  border: none;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.name:hover {
  background-color: darker(#F8FAFC, 20);
}

.MuiDialogContent-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // flex-wrap: wrap;
}

#bio-container {
  display: grid;
  // grid-template: auto;
  grid-template-columns: repeat(auto-fit, minmax(max(120px, 12.5%), 1fr));
  padding: 25px 15px;
}

#button-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

#full-name{
  width: 800px;
}

#github{
  width: 800px;
}

// p {
//   position: relative;
//   width: 95px;
//   height: 95px;
//   margin: 1rem auto;
//   text-transform: uppercase;
//   display: flex;
//   justify-content: center;
//   align-items: flex-end;
//   // background: radial-gradient(orchid, slateBlue);
//   // color: white;
//   border-radius: 50%;
// }

// .char {
//   --i: calc(100% / (var(--char-total) + 1));
//   position: absolute;
//   offset-path: path('M225.5.5c124.3 0 225 100.7 225 225s-100.7 225-225 225S.5 349.8.5 225.5 101.2.5 225.5.5');
//   offset-distance: calc(var(--i) * var(--char-index));
// /*  offset-anchor: top; FF only */
//   padding-top: 4rem;
// }

// #create-button {
//   background-color: $cs-teal;
//   border: none;
//   color: white;
//   padding: 15px 32px;
//   border-radius: 8px;
//   font-size: 16px;
//   transition-duration: 0.4s;
// }

// #create-button:hover {
//   background-color: lighten($cs-teal, 20);
// }